a{
  text-decoration: None;
  color:white;
}

a:hover {
  color: orange;
}

body{
  background-color: black;
  font-family: Nunito,sans-serif;
}

.over-img{
    color:#F76E11;
    width:500px;
    height:100px;
    /* border: solid 10px; */
    /* border-color: red; */
    position:absolute;
    font-size:40px;
    left:470px;
    top:120px;

}


.button-box
{
  font-size:25px;
  /* font-family:sans-serif; */
  height:20px;

}

.contact_button
{
  position:absolute;
  right:550px;
  color:#FFEEAD;
}

.Explore_button
{
  position:absolute;
  right:700px;
  color:#FFEEAD;
}

.Home_button
{
  position:absolute;
  right:850px;
  color:#FFEEAD;
}

.section1-img
{

  margin-left:0;

  height:400px;
   width:1360px;
  object-fit:cover;
  object-position:bottom;
}

#section1
{
  height:450px;
  width:1360px;
  /* border: solid red; */
  margin-top:60px;
  /* font-family: 'Comfortaa'; */
}

/* //---------------------------------------------- Section 2 .............................. */

.section2-img{
  height:200px;
  width:230px;
  object-fit:cover;
}

.section2-text{
  color:white;
}

#section2
{
  margin-top:200px;
  margin-left:300px;
  height:600px;
  width:900px;
  /* border: solid 5px; */
  /* border-color:red; */
  display:inline-block;
    /* font-family: 'Comfortaa'; */

}

.section2_img_block
{
  height:250px;
  width:230px;
  display:inline-block;
  border: solid 10px;
  /* border-color:red; */
  margin:20px;
  vertical-align: top;
}

.section2_text_block
{
  height:250px;
  width:230px;
  display:inline-block;
  /* background-color:blue; */
  border: solid 10px;
  /* border-color:red; */
  margin-top:0;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:0;
  vertical-align: top;
}


/* .........................section-3................................................. */


#section3
{
  height:300px;
  width:1150px;
  display: inline-block;
   /* border : solid 10px; */
   /* border-color: red; */
  margin-top:150px;
  margin-right:100px;
  margin-left:150px;
  margin-bottom:150px;


}

.section3-text{
  color:white;
}

.section3-img
{
  height:225px;
  width:425px;
  object-fit:cover;
}

.section3_img_block
{
  height:250px;
  width:460px;
  display:inline-block;
   /* border: solid 5px; */
   /* border-color:red; */
  margin:20px;
  vertical-align: top;
}

.section3_text_block
{
  height:250px;
  width:500px;
  display:inline-block;
   /* border: solid 5px; */
   /* border-color:red; */
  margin:20px;
  vertical-align: top;
}


#section4
{
  height:700px;
  width: 900px;
  /* border : solid 10px; */
  /* border-color :red; */
  margin: auto;
}

.section4-img
{
  height:225px;
  width:225px;
  margin:20px;
  object-fit:cover;
}

.section4-text{
  color:white;
}

.section4_img_block
{
  height:250px;
  width:250px;
  display:inline-block;
  /* border: solid 5px; */
  /* border-color:red; */
  margin:20px;
  vertical-align: top;
}

.section4_text_block
{
  height:250px;
  width:500px;
  display:inline-block;
  /* border:solid 5px; */
  /* border-color:red; */
  margin:20px;
  vertical-align:top;
  text-align:justify;
}

.text-right
{
  text-align:right;
}

.text-left
{
  text-align:left;
}

.footer
{
   margin-top:75px;
  /* margin-bottom:50px; */
   /* margin-left:100px; */
   /* margin-right:50px; */
  /* width:1100px; */
  height:300px;
   /* border: solid 10px; */
   /* border-color: red; */
  vertical-align: top;
  /* background-color : #292b2e; */
  margin-bottom:0;
}

.footer-left
{
  width:380px;
  height:200px;
   /* border: solid 5px; */
   /* border-color:red;  */
  text-align:center;
  margin-top:100px;
  margin-left:100px;
  display:inline-block;
  vertical-align:top;
}

.footer-right{
  width:300px;
  height:200px;
  margin-left:200px;
  /* border:solid 5px; */
  /* border-color:red; */
  display:inline-block;
  text-align: center;
  margin-top:100px;
  vertical-align:top;
}

.error-img{
  height:300px;
  width:1400px;
  object-fit: cover;
  object-position:center;
   margin-top:50px;

}
